body{
    font-family: 'Roboto', sans-serif;
    background-image: radial-gradient( rgb(90, 90, 219), lightblue);
}
.top-div{
    margin: auto;
    margin-top: 10%;
    width: 80%;
    text-align: justify;
}
.button-row{
    margin-left: 1px;
    margin-top: 1%;
}
.btn-warning{
    background-image: #ffcb3b;
    font-size: large;
    font-weight: 200;
    border-style: hidden;
}
.btn-primary{
    background-image: rgb(49, 49, 250);
    font-size: large;
    font-weight: 200;
    border-style: hidden;
}